@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-principal: #800080;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: white;
  margin: 0;
}

.resaltado-hero {
  color: var(--color-principal);
  border-bottom: 4px solid var(--color-principal);
}

.blinking-cursor {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.fade-in-section {
  opacity: 0;
  transform: translateY(1.5rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}
.fade-in-section.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.scroll-text span[data-word] {
  font-weight: 800;
  color: #800080;
  display: inline-block;
  transition: color 0.3s ease;
}

.scroll-activated span[data-word] {
  color: #c95454;
}

