

<section  id="nosotros" class="bg-white py-20 px-6">
  <div class="max-w-4xl mx-auto grid md:grid-cols-2 gap-10 items-center">
    <!-- Texto principal -->
    <div>
      <h2 class="text-3xl md:text-4xl font-medium text-black mb-4 leading-snug">
        Somos tu <span class="font-semibold">aliado</span><br />
        en soluciones<br />
        tecnológicas
      </h2>
    </div>

    <!-- Subtexto -->
    <div>
      <p class="text-black text-base md:text-lg leading-relaxed">
        Resolvemos los desafíos tecnológicos más sensibles de organizaciones que
        operan en entornos regulados y de alta disponibilidad.
      </p>
    </div>
  </div>

  <!-- Métricas -->
  <div class="max-w-5xl mx-auto mt-16 grid grid-cols-2 md:grid-cols-4 gap-8 text-center text-gray-900">
    <div>
      <p class="text-3xl font-bold">+14</p>
      <p class="text-base text-black">años de<br />experiencia</p>
    </div>

    <div>
      <p class="text-base font-medium">Thales Top<br />Data Protection<br />Partner</p>
    </div>

    <div>
      <p class="text-3xl font-bold">+200</p>
      <p class="text-base text-black">proyectos<br />exitosos</p>
    </div>

    <div>
      <p class="text-base font-medium">México<br />EUA<br />LATAM</p>
    </div>
  </div>
</section>
