---
import ScrollReveal from '../components/movimiento/ScrollReveal.jsx';
import LogoCarousel from "../components/LogoCarousel.jsx";
import HeroScrollWords from "../components/HeroScrollWords.jsx";
import AnimatedButton from './movimiento/AnimatedButton';
import BotonFlotanteAnimado from './movimiento/BotonFlotanteAnimado';

import ScrollColorPhase from './movimiento/ScrollColorPhase.jsx';

const logosempresas = [
  "/Homepage/01_Banorte.png",
  "/Homepage/02_Invex.png",
  "/Homepage/03_Nissan.png",
  "/Homepage/04_Afirme.png",
  "/Homepage/05_Kubo.png",
  "/Homepage/06_Prosa.png",
  "/Homepage/07_CajaMorelia.png",
  "/Homepage/08_Bankaool.png",
  "/Homepage/11_Covalto.png",
  "/Homepage/12_CoopDesarrollo.png",
];
const carouselTitle = "Empresas que confían en nosotros";
---

<section class="bg-[#FAFAFA] pt-24 pb-12 px-6 md:px-12">
  <ScrollReveal client:visible>
    <div class="max-w-5xl mx-auto text-center">
      <h1 class="text-4xl md:text-6xl font-light leading-tight text-gray-900">
        Impulsa tu negocio </br>con tecnología que&nbsp;
      <span class="font-medium">
<ScrollColorPhase client:load />


</span>

      </h1>

      <p class="mt-6 text-lg md:text-xl text-black">
        Soluciones en cifrado de datos, HSMs, ciberseguridad, </br>
        cumplimiento, conexión financiera y servicios en la nube.
      </p>

<section class="text-center my-12">
  <BotonFlotanteAnimado texto="Agenda demo" href="/contacto" color="black" client:only="react"/>
</section>
      <div class="mt-12">
        <div class="max-w-6xl mx-auto">
          <LogoCarousel logos={logosempresas} title={carouselTitle} client:only="react" />
        </div>
      </div>
    </div>
  </ScrollReveal>
</section>
