---
import LogoCarousel from "../components/LogoCarousel.jsx";
const logosempresas = [
"/alianzas/01_GoogleCloud.png" ,
"/alianzas/02_Thales.png" ,
"/alianzas/03_Utimaco.png" ,
"/alianzas/04_Entrust.png",
"/alianzas/tese.png",
"/alianzas/05_FintechMex.png" ,
    "/alianzas/06_AMSOFIPO.png" 
];
// src/pages/index.astro (o donde tengas tu sección de servicios)
import ServiciosCards from "../components/ServiciosCards.jsx";

---
<section id="servicios" class="py-16 md:py-20 px-6 md:px-12 bg-white">
  <div class="max-w-4xl mx-auto">
    <!-- Título -->
    <div class="text-center md:text-left mb-12">
      <h2 class="text-3xl md:text-4xl font-medium text-black mb-4">
        Tres verticales de negocio,
      </h2>
      <p class="text-4xl text-black">
        una misma <span class="font-semibold">fuerza tecnológica</span>
      </p>
    </div>

    <!-- Componente React con tarjetas y logo dinámico -->
    <ServiciosCards client:visible />
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Detectar si el usuario vino con el botón "atrás"
    const navType = performance.getEntriesByType("navigation")[0]?.type;

    if (navType === "back_forward") {
      const id = localStorage.getItem("servicio-id");
      const el = document.getElementById(id);
      if (el) {
        el.scrollIntoView({ behavior: "smooth", block: "center" });
      }
      localStorage.removeItem("servicio-id");
    }
  });
</script>
<!-- Título con fondo gris -->
<div class="bg-white w-full pt-16 pb-0 md:pt-20 md:pb-0 px-6 md:px-12"
>
  <div class="max-w-6xl mx-auto px-6 text-center mb-0">
    <h2 class="text-2xl sm:text-2x md:text-3xl lg:text-4xl font-medium text-black ">
      Partners que fortalecen nuestra visión
    </h2>
  </div>

  <LogoCarousel logos={logosempresas} client:only="react" />
</div>

 