---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import FormularioContacto from '../components/FormularioContacto.astro'
import "../styles/global.css"
import SuscripcionBlog from '../components/SuscripcionBlog.astro'
---

<html lang="es">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/simcon.png" />
    <title>Conecta</title>
  </head>


  <body class="scroll-smooth scroll-pb-70">
    <Navbar />
    <main class="min-h-screen">
      <slot />
    </main>
    {!Astro.props.ocultarSuscripcion && (
 
     <FormularioContacto />
 <SuscripcionBlog />
  </section>
)}


    <Footer />
  </body>
</html>
